<p>Edit</p>
<form action="/characters/edit-character" method="post">
<p>Name</p>
<input type="text" name="name">
<p>Occupation</p>
<input type="text" name = "Occupation"    
<p>Debt</p>
<input type="text" name = "Debt"
<p> Weapon

</p>
<input type="text" name = "Weapon"  


<button type ="submit"> Submit</button>

</form>